body{
    max-width: 1000px;
    width: 80%;
    margin: auto;
    text-align: justify;
}

div{
    border: 1px solid gray;
    padding: 0 10px;
    margin-bottom: 5px;
}

ul{
    list-style-type: none;
    padding: 0;

    /* grid használat: */
    display: grid;
    /* grid-template-columns: 150px 150px 150px; */
    /* grid-template-columns: 30% 30% 30%; */
    /* grid-template-columns: 30% auto 30%; */
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

li{
    background-color: azure;
    text-align: center;
    padding: 5px 0;
}

#cikkek /* > div*/ {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}